@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family:ital,wght@0,400..900;1,400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cinzel:wght@400..900&family=Lobster&display=swap');

@import "tailwindcss";

@theme {
  /* *color theme */
  --color-background: #000;
  --color-surface: #252525;
  --color-primary-text: #ffffff;
  --color-secondary-text: #cccccc;
  --color-primary: #00b4d8;
  --color-primary-hover: #0077b6;
  --color-secondary: #ff6b6b;
  --color-secondary-hover: #ee5a52;


  /* *font theme */
  --font-bebas: 'Bebas Neue', sans-serif;
  --font-plusjakarta: 'Plus Jakarta Sans', sans-serif;
  --font-anton: 'Anton', sans-serif;
  --font-cinzel: 'Cinzel', serif;


}


body {
  font-family: var(--font-plusjakarta) ;
  background-color: var(--color-background);
  color: var(--color-primary-text);
  overflow-x: hidden;
}

.hero-overlay {
  background: linear-gradient(30deg, var(--color-primary-hover), rgba(0,0,0,0.7), rgba(0,0,0,0.8), var(--color-secondary-hover));
}

.scrollbar::-webkit-scrollbar {
  display: none;
}

.scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.side_shadow {
  /* border: 2px solid red; */
}

/* .side_shadow::after {
  content: " ";
  width: 20px;
  height: 100%;
  background: linear-gradient(30deg, transparent,  var(--color-secondary-hover), var(--color-primary), transparent);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 40;
  filter: blur(1px);
} */

.side_shadow::after {
  content: "";
  width: 2px; /* a bit wider for a smoother fade */
  height: 350px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -5px;
  z-index: 40;
  pointer-events: none; /* don't block clicks */
  box-shadow: 0px 0px 50px 15px var(--color-secondary-hover), 0px 0px 50px 15px var(--color-primary);
  background: linear-gradient(360deg, var(--color-secondary), var(--color-primary-hover));
  border-radius: 50px;

  /* background: linear-gradient(45deg, var(--color-primary), rgba(0,0,0,0.6), var(--color-secondary-hover));
  filter: blur(8px); */

}






/* !utility */

@layer component {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-between {
    @apply flex items-center justify-between;
  }
}
